{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-us">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edusphere | elevate your learning experience</title>
    <meta name="description" content="Edusphere elevate your learning experience">
    <meta name="keywords" content="Edusphere, learning, management, learning mamagement system, education, lms">
  </head>

  <body>
    <div id="app" style="font-family:Verdana, Geneva, Tahoma, sans-serif">
      <!-- <script src="{% static 'edusphere/main.js' %}" type="text/javascript"></script> -->
      <h2>Edusphere Learning Management System</h2>

      <p>Edusphere is a learning management system (LMS) that provides a comprehensive platform for educational institutions to manage and deliver online learning content. It is a cloud-based software designed to meet the needs of schools, colleges, universities, and other training organizations.</p>

      <p>The platform includes tools for creating, managing, and delivering online courses and materials, as well as tracking student progress and performance. It also provides features for collaboration, communication, and assessment.</p>

      <h3>Edusphere's Features:</h3>

      <ul>
        <li>Course creation: Educators can easily create online courses, lessons, and assignments using a variety of multimedia tools such as videos, audio, and images.</li>
        <li>Course management: Administrators can manage course schedules, enrollments, and permissions for students and instructors.</li>
        <li>Assessment and evaluation: Educators can create and grade assignments, quizzes, and tests, and monitor student progress and performance.</li>
        <li>Communication and collaboration: Edusphere provides tools for real-time communication and collaboration, including discussion forums, messaging, and video conferencing.</li>
        <li>Reporting and analytics: Administrators can generate reports and analytics on student progress, course completion rates, and other performance metrics.</li>
      </ul>

      <p>Edusphere is user-friendly and can be customized to suit the specific needs of an educational institution. It is an all-in-one solution that provides a seamless experience for both educators and students.</p>

    </div>
    <!-- <div id="app">
      
    </div> -->
    
  </body>
  
  <!-- {% comment %} <link rel="stylesheet" href="{% static "hotstar/css/custom.css" %}" /> {% endcomment %} -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous" defer></script>
  {% comment %} <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;800&display=swap" rel="stylesheet"> {% endcomment %}

</html>