/* styles for the Grades component */
h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: #113224;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
  }
  
  thead th {
    text-align: left;
    background-color: #f2f2f2;
    border-bottom: 2px solid #ddd;
    padding: 0.8rem;
    font-size: 1.2rem;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody td {
    border-bottom: 1px solid #ddd;
    padding: 0.8rem;
    font-size: 1.1rem;
  }
  
  /* styles for the GradeBook component */
  .assignments-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gradebook-card {
    width: 350px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .gradebook-card h2 {
    margin-top: 0;
    font-size: 1.5rem;
  }
  
  .gradebook-card p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }




  
  